# Copyright (c) 2026 Luca and Pam. All rights reserved.
# Airflow image already provides apache-airflow.
# These are project runtime dependencies used by DAG code and scripts.
scikit-learn==1.5.2
pandas==2.2.2
joblib==1.4.2
boto3==1.35.36
fastapi==0.115.0
uvicorn[standard]==0.30.6
pytest==8.3.3
